# Security & Secret Keys
.env
keys/
pdf.tex
pdf.log

# Database
*.db
*.sqlite3

# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage

# IDE & OS
.vscode/
.idea/
.DS_Store
